@using System;

@{
    ViewData["Title"] = "Pacientes";
}
<h1>@ViewData["Title"]</h1>

@{
    DateTime hoy = DateTime.Today;
}

<p>Formulario para agregar un paciente.</p> 
<div class="row">    
        <form id="agregar">

        Nombre: 
        <input type="text" name="nombre"/>

        ID:
        <input type="text" name="id"/>

        Edad:
        <input type="text" name="edad"/>

        Telefono:
        <input type="text" name="tel"/>

        Ultima Consulta:
        <input type="datetime" name="ultConsulta" value="@hoy"/>

        Proxima Consulta:
        <input type="datetime" name="proxConsulta" value="mm/dd/yyyy"/>

        Diagnostico:
        <select name="diagnositco" id="diagnostico">
            <option selected="selected">Limpieza dental</option>
            <option >Ortodoncia</option>
            <option >Contra caries</option>
            <option >Especifico</option>
        </select>
        
        <input type="submit" value="Agregar"/>
        </form>        
</div>

<hr />
<p>Formulario para buscar un paciente.</p> 
<div class="row">
    <form id="buscar">

        Nombre: 
        <input type="text" name="nombre"/>

        ID:
        <input type="text" name="id"/>

        <input type="submit" value="Buscar"/>
    </form>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#agregar").submit(function (e) {
                e.preventDefault();

                url = "@Url.Content("~/Paciente/Agregar")"
                parametros = $(this).serialize();

                $.post(url, parametros, function(data) {
                    if (data == "1"){
                        document.location.href = "@Url.Content("~/Home/Pacientes")";
                    }
                    else{
                        alert(data)
                    }
                })
            })
        })
    </script>
}
