@{
    ViewData["Title"] = "Registro de consultas";
}
<h1>@ViewData["Title"]</h1>



@using(Html.BeginForm("Asignacion","Paciente",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre"/>
    <label for="id">ID:</label>
    <input type="text" name="id"/>
    <hr />
    <label for="proxConsulta">Fecha de Consulta:</label> 
    <input type="datetime" name="proxConsulta" value="mm/dd/yyyy"/>
    <input type="submit" value="Registrar">
}
