@{
    ViewData["Title"] = "Seguimiento";
}
<h1>@ViewData["Title"]</h1>

@model List<Paciente>
@{
    ViewData["Title"] = "Consultas";
}
@using(Html.BeginForm("DRLD","Paciente",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
   <label for="DRLD">Obtener la los pacientes que deberían realizarse una limpieza dental.</label>
   <input type="submit" name="DRLD" value="Buscar" />
}
<hr />
@using(Html.BeginForm("DSTO","Paciente",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
   <label for="DSTO">Obtener a los pacientes que deben dar seguimiento a su tratamiento de ortodoncia.</label>
   <input type="submit" name="DSTO" value="Buscar" />
}
<hr />
@using(Html.BeginForm("DSTC","Paciente",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
   <label for="DSTC">Obtener a los pacientes que deben dar seguimiento a su tratamiento contra las caries.</label>
   <input type="submit" name="DSTC" value="Buscar" />
}
<hr />
@using(Html.BeginForm("DRLD","Paciente",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
   <label for="DSTE">Obtener a los pacientes que tengan un tratamiento específico.</label>
    <input type="submit" name="DSTE" value="Buscar" />
}
<hr />